/*
 * Copyright (c) 2026 Yuzuki Tsuru
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/* the touch panel controller on I2C1 */
&pio {
	twi1_ctp_pins: twi1_ctp_pins {
		twi1_ctp_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 0, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 1, 4)>;
			bias-pull-up;
		};
	};
};

&i2c1 {
	status = "okay";
	pinctrl-0 = <&twi1_ctp_pins>;
	pinctrl-names = "default";
};
