/*
 * Copyright (c) 2026 Yuzuki Tsuru
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/*
 * Allwinner F101 EVB: the YuzukiNeko configuration with the console on the EVB debug UART (UART3,
 * PE08/PE09). UART3 takes the pins of I2C0, so I2C0 is off, and UART1 (PB00/PB01) is not wired to the
 * console of the EVB: they carry the panel backlight with PB2/PB3 (PWM_BL).
 */

#include "../yuzukineko/yuzukineko.dts"

/ {
	model = "YuzukiHD F101 EVB";
	compatible = "yuzukihd,f101-evb";

	chosen {
		zephyr,console = &uart3;
		zephyr,shell-uart = &uart3;
	};
};

/* UART3 console on PE08 (TX) / PE09 (RX), muxsel 6 */
&pio {
	uart3_pins: uart3_pins {
		uart3_tx_rx {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 8, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 9, 6)>;
		};
	};
};

&pio {
	pwm_bl_pins: pwm_bl_pins {
		pwm_bl_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 0, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 1, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 2, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 3, 2)>;
		};
	};
};

/* PWM_BL backlight: PB0..PB3 mux 2 */
&pwm_bl {
	status = "okay";
	pinctrl-0 = <&pwm_bl_pins>;
	pinctrl-names = "default";
};

/ {
	backlight0: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm_bl 0 20000 PWM_POLARITY_INVERTED>;
		max-level = <255>;
		default-level = <250>;
	};
};

/* the EVB has the 1024x600 RGB panel, not the MIPI DSI one of the carrier board */
&rgb0 {
	status = "okay";
};

&panel0 {
	status = "okay";
	backlight = <&backlight0>;
};

&dsi0 {
	status = "disabled";
};

&dphy0 {
	status = "disabled";
};

&panel_dsi {
	status = "disabled";
};

&backlight_dsi {
	status = "disabled";
};

/* PD6..PD8 carry LCD data, the EVB backlight is PWM_BL */
&pwm {
	status = "disabled";
};

&display {
	width = <1024>;
	height = <600>;
};

/* speaker amplifier enable of the EVB */
&codec_analog {
	pa-gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
};

&uart3 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart3_pins>;
	pinctrl-names = "default";
};

&uart1 {
	status = "disabled";
};

&i2c0 {
	status = "disabled";
};
