/*
 * Copyright (c) 2026 Yuzuki Tsuru
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <allwinner/sun252i_f101.dtsi>
#include <zephyr/dt-bindings/display/sunxi-display.h>
#include <zephyr/dt-bindings/pwm/pwm.h>
#include <zephyr/dt-bindings/misc/sun252i-f101-mbus.h>

/ {
	model = "YuzukiHD YuzukiNeko";
	compatible = "yuzukihd,yuzukineko";

	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,sram = &sram0;
		zephyr,display = &display;
	};

	aliases {
		i2c-0 = &i2c0;
	};
};

/* UART1 console on PB00 (TX) / PB01 (RX), muxsel 4 */
&pio {
	uart1_pins: uart1_pins {
		uart1_tx_rx {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 0, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 1, 4)>;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
};

&pio {
	twi0_pins: twi0_pins {
		twi0_pins_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 8, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 9, 4)>;
			bias-pull-up;
		};
	};

	twi1_pins: twi1_pins {
		twi1_pins_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 1, 3)>;
			bias-pull-up;
		};
	};

	twi2_pins: twi2_pins {
		twi2_pins_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 10, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 11, 4)>;
			bias-pull-up;
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&twi0_pins>;
	pinctrl-names = "default";
};

&pio {
	spi0_pins: spi0_pins {
		spi0_data {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 4, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 2, 3)>;
			bias-disable;
		};
		spi0_control {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 1, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 3, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 5, 3)>;
			bias-pull-up;
		};
	};

	spi1_pins: spi1_pins {
		spi1_data {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 1, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 2, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 3, 3)>;
			bias-disable;
		};
		spi1_control {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 4, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 5, 3)>;
			bias-pull-up;
		};
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
};

&wdt {
	status = "okay";
};

&pio {
	pwm0_pins: pwm0_pins {
		pwm0_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 6, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 7, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 8, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 3, 7)>;
		};
	};
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm0_pins>;
	pinctrl-names = "default";
};

&adc {
	status = "okay";
};

&dma {
	status = "okay";
};

&pio {
	dbi1_pins: dbi1_pins {
		dbi1_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 1, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 2, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 3, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 5, 3)>;
			bias-disable;
		};
	};
};

&dbi {
	status = "okay";
	pinctrl-0 = <&dbi1_pins>;
	pinctrl-names = "default";
};



&pio {
	smhc0_pins: smhc0_pins {
		smhc0_clk {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PF, 2, 2)>;
			bias-disable;
		};
		smhc0_cmd_data {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PF, 3, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PF, 1, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PF, 0, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PF, 5, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PF, 4, 2)>;
			bias-pull-up;
		};
	};

	/*
	 * PB0 and PB1 are also the UART1 console (mux 4): starting the backlight takes them over (mux 2),
	 * so the console is silent from then on.
	 */
	pwm_bl_pins: pwm_bl_pins {
		pwm_bl_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 0, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 1, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 2, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 3, 2)>;
		};
	};
};

/* pins shared with the LCD */
&dbi {
	status = "disabled";
};

&pwm {
	status = "disabled";
};

/* PWM_BL backlight: PB0..PB3 mux 2 */
&pwm_bl {
	status = "okay";
	pinctrl-0 = <&pwm_bl_pins>;
	pinctrl-names = "default";
};

/*
 * 1024x600 RGB666 panel of the EVB:
 *
 *   de0 -> tcon_lcd0 -> rgb0 -> panel0, backlight0 on the PWM_BL block
 */
&pio {
	rgb_pins: rgb_pins {
		rgb_lcd {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 0, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 1, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 2, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 3, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 4, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 5, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 6, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 7, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 8, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 9, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 6, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 7, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 12, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 13, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 14, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 15, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 16, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 17, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 18, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 19, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 20, 2)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 21, 2)>;
		};
	};
};

/ {
	backlight0: backlight {
		compatible = "pwm-backlight";
		pwms = <&pwm_bl 0 20000 PWM_POLARITY_INVERTED>;
		max-level = <255>;
		default-level = <250>;
	};

	panel0: panel {
		compatible = "panel-simple";
		width = <1024>;
		height = <600>;
		width-mm = <154>;
		height-mm = <86>;
		bus-format = "rgb666-1x18";
		enable-delay-ms = <50>;
		backlight = <&backlight0>;

		/* PD22 switches the panel supply */
		power-on-sequence = <SUNXI_CMD_GPIO(SUNXI_PIN(ALLWINNER_PIO_PD, 22), 1)
				     SUNXI_CMD_DELAY(30)>;
		power-off-sequence = <SUNXI_CMD_GPIO(SUNXI_PIN(ALLWINNER_PIO_PD, 22), 0)
				      SUNXI_CMD_DELAY(20)>;

		display-timings {
			compatible = "zephyr,panel-timing";
			clock-frequency = <49000000>;
			hsync-len = <20>;
			hfront-porch = <161>;
			hback-porch = <35>;
			vsync-len = <10>;
			vfront-porch = <15>;
			vback-porch = <25>;
			hsync-active = <0>;
			vsync-active = <0>;
			de-active = <1>;
			pixelclk-active = <1>;
		};
	};
};

&de0 {
	status = "okay";
	brightness = <50>;
	contrast = <50>;
	saturation = <57>;
	hue = <50>;
};

&tcon_top0 {
	status = "okay";
};

&tcon_lcd0 {
	status = "okay";
};

&rgb0 {
	status = "okay";
	pinctrl-0 = <&rgb_pins>;
	pinctrl-names = "default";
	hv-mode = <SUNXI_HV_PARALLEL_RGB>;
	rgb-swap = <5>;

	ports {
		#address-cells = <1>;
		#size-cells = <0>;

		port@1 {
			reg = <1>;
			#address-cells = <1>;
			#size-cells = <0>;

			endpoint@0 {
				reg = <0>;
				remote-endpoint = <&panel0>;
			};
		};
	};
};

&display {
	status = "okay";
	width = <1024>;
	height = <600>;
};

/* DE at top priority, RISCV capped */
&mbus {
	status = "okay";

	display-engine@10 {
		reg = <SUN252I_F101_MBUS_MASTER_DE>;
		priority = <3>;
	};

	cpu@27 {
		reg = <SUN252I_F101_MBUS_MASTER_RISCV>;
		bandwidth-limit-mbps = <500>;
	};
};

/* 2D graphics accelerator */
&g2d {
	status = "okay";
};

/*
 * USB 2.0 port: the OTG (device) controller and the EHCI/OHCI host controllers
 * share one PHY, an application starts the stack of the role it needs. PE02
 * drives VBUS for the host role.
 */
&usbphy {
	vbus-gpios = <&gpioe 2 0>;
	status = "okay";
};

&usbhci {
	status = "okay";
};

&usbotg {
	status = "okay";
};

/*
 * TF card slot on SMHC0 (4 bit, card detect on PF06, low with a card in). SMHC2
 * (the WiFi SDIO port) stays off: its clock pin PE02 is the USB VBUS switch.
 */
&smhc0 {
	pinctrl-0 = <&smhc0_pins>;
	pinctrl-names = "default";
	bus-width = <4>;
	cd-gpios = <&gpiof 6 GPIO_ACTIVE_LOW>;
	status = "okay";

	sdmmc {
		compatible = "zephyr,sdmmc-disk";
		disk-name = "SD";
		status = "okay";
	};
};

/* Video engine: hardware JPEG, PNG and H.264 decoder */
&ve {
	status = "okay";
};

/*
 * On-chip audio codec: headphone out, the external speaker amplifier is enabled
 * by PE10. Its DMA streams use channels 1 (DAC) and 2 (ADC) of the DMA controller.
 */
&audio_codec {
	status = "okay";
};

&codec_analog {
	pa-gpios = <&gpioe 10 GPIO_ACTIVE_HIGH>;
	status = "okay";
};
