/*
 * Copyright (c) 2026 Yuzuki Tsuru
 *
 * SPDX-License-Identifier: Apache-2.0
 */

/dts-v1/;

#include <allwinner/sun252i_f101.dtsi>

/ {
	model = "YuzukiHD YuzukiNeko";
	compatible = "yuzukihd,yuzukineko";

	chosen {
		zephyr,console = &uart1;
		zephyr,shell-uart = &uart1;
		zephyr,sram = &sram0;
	};

	aliases {
		i2c-0 = &i2c0;
	};
};

/* UART1 console on PB00 (TX) / PB01 (RX), muxsel 4 */
&pio {
	uart1_pins: uart1_pins {
		uart1_tx_rx {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 0, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 1, 4)>;
		};
	};
};

&uart1 {
	status = "okay";
	current-speed = <115200>;
	pinctrl-0 = <&uart1_pins>;
	pinctrl-names = "default";
};

&pio {
	twi0_pins: twi0_pins {
		twi0_pins_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 8, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PE, 9, 4)>;
			bias-pull-up;
		};
	};

	twi1_pins: twi1_pins {
		twi1_pins_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 1, 3)>;
			bias-pull-up;
		};
	};

	twi2_pins: twi2_pins {
		twi2_pins_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 10, 4)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 11, 4)>;
			bias-pull-up;
		};
	};
};

&i2c0 {
	status = "okay";
	pinctrl-0 = <&twi0_pins>;
	pinctrl-names = "default";
};

&pio {
	spi0_pins: spi0_pins {
		spi0_data {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 4, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 2, 3)>;
			bias-disable;
		};
		spi0_control {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 1, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 3, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PC, 5, 3)>;
			bias-pull-up;
		};
	};

	spi1_pins: spi1_pins {
		spi1_data {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 1, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 2, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 3, 3)>;
			bias-disable;
		};
		spi1_control {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 4, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 5, 3)>;
			bias-pull-up;
		};
	};
};

&spi0 {
	status = "okay";
	pinctrl-0 = <&spi0_pins>;
	pinctrl-names = "default";
};

&wdt {
	status = "okay";
};

&pio {
	pwm0_pins: pwm0_pins {
		pwm0_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 6, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 7, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 8, 6)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PB, 3, 7)>;
		};
	};
};

&pwm {
	status = "okay";
	pinctrl-0 = <&pwm0_pins>;
	pinctrl-names = "default";
};

&adc {
	status = "okay";
};

&dma {
	status = "okay";
};

&pio {
	dbi1_pins: dbi1_pins {
		dbi1_group {
			pinmux = <ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 0, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 1, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 2, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 3, 3)
				  ALLWINNER_PINMUX(ALLWINNER_PIO_PD, 5, 3)>;
			bias-disable;
		};
	};
};

&dbi {
	status = "okay";
	pinctrl-0 = <&dbi1_pins>;
	pinctrl-names = "default";
};
