# Copyright (c) 2026 Yuzuki Tsuru
# SPDX-License-Identifier: Apache-2.0

menuconfig VDEC
	bool "Hardware image and video decoders"
	help
	  Include drivers for hardware JPEG, PNG and H.264 decoders.

if VDEC

config VDEC_INIT_PRIORITY
	int "Decoder driver init priority"
	default 90
	help
	  Initialisation priority of the decoder drivers.

source "drivers/vdec/sunxi/Kconfig"

endif # VDEC
