# Copyright (c) 2026 Yuzuki Tsuru
# SPDX-License-Identifier: Apache-2.0

config I2C_SUNXI
	bool "Allwinner sunxi TWI controller"
	default y
	depends on DT_HAS_ALLWINNER_SUNXI_TWI_ENABLED
	select PINCTRL
	help
	  Enable the polling master-mode I2C driver for Allwinner sunxi TWI.

config I2C_SUNXI_INIT_PRIORITY
	int "Allwinner sunxi TWI init priority"
	default 81
