# Copyright (c) 2026 Yuzuki Tsuru
# SPDX-License-Identifier: Apache-2.0

config PWM_SUNXI
	bool "Allwinner sunxi PWM-ng controller"
	default y
	depends on DT_HAS_ALLWINNER_SUNXI_PWM_ENABLED
	select PINCTRL
	help
	  Enable the Allwinner sunxi PWM-ng controller.

config PWM_SUNXI_INIT_PRIORITY
	int "Allwinner sunxi PWM init priority"
	default 82

config PWM_SUNXI_BL
	bool "Allwinner sunxi PWM_BL backlight controller"
	default y
	depends on DT_HAS_ALLWINNER_SUNXI_PWM_BL_ENABLED
	select PINCTRL
	help
	  Enable the Allwinner PWM_BL backlight block (digital dimming and
	  analog current sink) used to drive LCD backlights on the F101.

config PWM_SUNXI_BL_INIT_PRIORITY
	int "Allwinner sunxi PWM_BL init priority"
	default 82
	depends on PWM_SUNXI_BL
